*
{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-family: 'Anton', sans-serif;
    padding-top: 30px;
}
h3 {
    font-family: 'Anton', sans-serif;
    padding-top: 10px;
    text-align: center;
    justify-content: end;
}
.header_bg{
    background-color: #2F4B4C;
    height: 100%;
}
.navbar {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
}
.nav-item {
    padding-left: 40px;
}
.nav-link {
    text-transform: capitalize;
    font-size: 16px;
    color: #ffffff !important;
}
.col {
    padding: 30px 0 0 30px !important;
}
.first-head {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 150px;
}
span {
    font-family: 'Anton',sans-serif;
    color: #FFB800;
}
.padding{
    padding-top: 50px;
    padding-bottom: 50px;
}
.first-p {
    font-size: 22px;
    color: #DFDADE;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ylw-btn {
    text-decoration: none;
    font-size: 18px;
    color: #182C2B;
    border-radius: 10px;
    padding: 15px 32px;
    background-color: #FFB800;
}
.ylw-btn:hover {
    color: #182C2B;
}
.first-img {
    height: 600px;
}
img {
    width: 100%;
}
.text_section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.button{
    padding: 15px 32px;
    border: 1px solid #FFB800;
    border-radius: 5px;
    text-decoration: none;
}
.para{
    padding-top: 30px;
    padding-bottom: 30px;
}
.mbl img {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
}
.rafi {
    background-image: url("images/image_3.png");
    background-color: whitesmoke;
    background-repeat: no-repeat;
}
.rafi img {
    padding: 10%;
}
.mid img {
    padding-top: 50px;
    padding-bottom: 35px;
}